
 #IweaponsForUkraineSaveLives
{
 position:absolute;
 top:0%;
 left:0%;
 width:100%;
 height:auto;
}

 #IGaryTabachTitle
{
 position:absolute;
 top:25%;
 left:6%;
 color:#808080; /* Цвет текста */
 font-family: "Times New Roman", Times, serif; /* Выбранный шрифт */
 font-weight:bold;
 font-size:300%;
 line-height:1.5; /* Межстрочный интервал */
}

 div{position:absolute;}
 span{position:absolute;}
 
 #IGaryTabachPortret
{
 top:38%;
 left:50%;
 transform: translate(-50%, -50%);
 width:12%;
 height:25%;
 border-radius:50%; /* Установите радиус скругления равным 50%, чтобы сделать изображение круглым */
 overflow:hidden; /* Обрезать содержимое блока div, чтобы оно соответствовало скругленной форме */
}

 #IGaryTabach
{
 width:100%;
 height:100%;
 object-fit:cover; /* Заполнить блок изображением без искажения пропорций */
}

 #IGaryTabachTxt
{
 top:26%;
 left:58%;
 width:37%;
 height:auto;
 background-color:#f2f2f2;
 padding:2%;
 color:gray; /* Цвет текста */
 font-family: "Times New Roman", Times, serif; /* Выбранный шрифт */
 font-size:133%; /* Размер шрифта */
 line-height:1.5; /* Межстрочный интервал */
}

 #IGrnPrt
{
 top:55%;
 left:1%;
 width:5%;
 height:10%;
}

 #IGrnPrtBW
{
 width:100%;
 height:100%;
 object-fit:cover; /* Заполнить блок изображением без искажения пропорций */
}

 #IGrnTxtTitl
{
 top:55%;
 left:6%;
 width:51%;
 height:10%;
 background-color:#f2f2f2;
 display:flex;
 align-items:center;
 justify-content:center;
 color:gray; /* Цвет текста */
 font-family: "Times New Roman", Times, serif; /* Выбранный шрифт */
 font-size:150%; /* Размер шрифта */
 line-height:1.5; /* Межстрочный интервал */
}
 #IGrnTxt
{
 top:65%;
 left:1%;
 width:52%; /* Задайте ширину блока по своему усмотрению */
 height:auto; /* Высота будет автоматически подстраиваться под контент */
 background-color: #f2f2f2; /* Цвет фона блока */
 padding:2%; /* Отступы внутри блока для визуального разделения */
 color:gray; /* Цвет текста */
 font-family: "Times New Roman", Times, serif; /* Выбранный шрифт */
 line-height: 1.5; /* Межстрочный интервал */
}

 a
{
 text-decoration:none;
 color:black;
 border-radius:4px;
 padding-bottom:2px;
 width:16%;
}

 #icobw
{
 width:14%;
 height:auto;
 vertical-align:middle;
}

 #IGrnTxtBottom
{
 top:118%;
 left:1%;
 width:94%;
 height:auto; /* Высота будет автоматически подстраиваться под контент */
 background-color: #f2f2f2; /* Цвет фона блока */
 padding:2%; /* Отступы внутри блока для визуального разделения */
 color:gray; /* Цвет текста */
 font-family: "Times New Roman", Times, serif; /* Выбранный шрифт */
 line-height: 1.5; /* Межстрочный интервал */
}

 #ibastyon
{
 background-color:#cccccc;
}

 #icoLink
{
 background-color:#cccccc;
 display:inline-block;  
 text-align:center;
}
 #Iul{position:absolute;top:230%;left:1%;}
 li{list-style-type:none;padding:3px;}
 #hr{position:absolute;top:318%;}
