 html
{
 background-image: url(../SpaceStreetWM/SpaceStreetWM19.jpg);
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
 #GrnText{opacity:1.0}
 div{opacity:0.7;}
/*----------------------------------------------------------------*/
#ila{background-color:#960000;background-image:url(privnote.svg);}
#ilb{background-color:#dd4a22;background-image:url(onetimesecret.svg);}
#ilc{background-color:white  ;background-image:url(privatebin.svg);}
#ild{background-color:white  ;background-image:url(gnusocial.svg);}
#ile{background-color:#538b1c;background-image:url(memo.svg);}
#ilf{background-color:#3b5bdb;background-image:url(manyver.svg);}
#ilg{background-color:#1b1b1b;background-image:url(speek.svg);}
#ilh{background-color:white  ;background-image:url(pasteburn.svg);}
#ili{background-color:#f2f5d8;padding:0px;color:#000000;font-weight:bold;font-size:36px;}
#ilj{background-color:white  ;background-image:url(itextpad.svg);}
#ilk{background-color:white  ;background-image:url(telegraph.svg);}
#ill{background-color:#1e1e1e;background-image:url(wtsocial.svg);}
/*----------------------------------------------------------------*/
#ira{background-color:white  ;background-image:url(deepl.svg);}
#irb{background-color:#bde3cb;background-image:url(lingva.svg);}
#irc{background-color:#1565c0;background-image:url(libretranslate.svg);}
#ird{background-color:#0f1d2a;background-image:url(pastebin.svg);}
#ire{background-color:white  ;background-image:url(pastenym.svg);}
#irf{background-color:#2f312e;background-image:url(friendpaste.svg);}
#irg{background-color:#1b1a34;background-image:url(pastie.svg);}
#irh{background-color:#b4b4b4;background-image:url(notesio.svg);}
#iri{background-color:white  ;background-image:url(shrib.svg);}
#irj{background-color:white  ;background-image:url(pinup.svg);}
#irk{background-color:white  ;background-image:url(anotepad.svg);}
#irl{background-color:#000000;background-image:url(zippyjot.svg);}
/*----------------------------------------------------------------*/
