 html
{
 background-image: url(../SpaceStreetWM/SpaceStreetWM30.jpg);
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
 #GrnVid{opacity:1}
 div{opacity:0.7;}
#ila{background-color:#b996f7;background-image:url(lnkbio.svg);}
#ilb{background-color:white  ;background-image:url(youtube.svg);}
#ilc{background-color:white  ;background-image:url(peertubeOrange.svg);}
#ild{background-color:white  ;background-image:url(rumble.svg);}
#ile{background-color:white  ;background-image:url(ourtube.svg);}
#ilf{background-color:white  ;background-image:url(bitchute.svg);}
#ilg{background-color:Black  ;background-image:url(tiktok.svg);}
#ilh{background-color:white  ;background-image:url(veoh.svg);}
#ili{background-color:Black  ;background-image:url(brighteon.svg);}
#ilj{background-color:white  ;background-image:url(wistia.svg);}
#ilk{background-color:#41b2bc;background-image:url(vimeo.svg);}
#ill{background-color:white  ;background-image:url(dailymotion.svg);}
/*---------------------------------------------------------------------------*/
#ial{background-color:;background-image:url(.svg);}
#ibl{background-color:;background-image:url(.svg);}
#icl{background-color:;background-image:url(.svg);}
#idl{background-color:;background-image:url(.svg);}
#iel{background-color:;background-image:url(.svg);}
#ifl{background-color:;background-image:url(.svg);}
#igl{background-color:;background-image:url(.svg);}
#ihl{background-color:;background-image:url(.svg);}
#iil{background-color:;background-image:url(.svg);}
#ijl{background-color:;background-image:url(.svg);}
#ikl{background-color:;background-image:url(.svg);}
#iml{background-color:;background-image:url(.svg);}
/*---------------------------------------------------------------------------*/
#ira{background-color:white  ;background-image:url(vidyard.svg);}
#irb{background-color:#0f0b2b;background-image:url(goldfish.svg);}
#irc{background-color:#575757;background-image:url(invidious.svg);}
#ird{background-color:#643da7;background-image:url(twitch.svg);}
#ire{background-color:#000000;background-image:url(mirotalk.svg);}
#irf{background-color:#529dff;background-image:url(zoom.svg);}
#irg{background-color:#1c2b71;background-image:url(obs.svg);}
#iri{background-color:;background-image:url(.svg);}
/*---------------------------------------------------------------------------*/
#iar{background-color:white  ;background-image:url(tubeninja.svg);}
#ibr
{
 background-color:#0006ff;
 display: flex;
 justify-content: center;
 align-items: center;
 color:white;
 font-weight:bold;
 font-size:30px;
}
#icr{background-color:#bb0000;background-image:url(savedeo.svg);}
#idr{background-color:white  ;background-image:url(savefrom.svg);}
#ier{background-color:white  ;background-image:url(savevideome.svg);}
#ifr
{
 background-color:#427daa;
 display: flex;
 justify-content: center;
 align-items: center;
 color:white;
 font-weight:bold;
 font-size:30px;
}
#igr{background-color:#f8991d;background-image:url(tubeoffline.svg);}
#ihr{background-color:#000000;background-image:url(videograbber.svg);}
#iir{background-color:white;background-image:url(offmp3.svg);}
#ijr{background-color:white;background-image:url(youtube4kdownloader.svg);}
#ikr{background-color:#545454;background-image:url(cloudconvert.svg);}
#ilr{background-color:#fbfbfb;background-image:url(videocutter.svg);}
