 html
{
 background-image: url(../SpaceStreetWM/SpaceStreetWM01.jpg);
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
 #GrnAudio{opacity:1.0}
 div{opacity:0.7;}
 #ila{background-color:#222222;background-image:url(../GrnPctVid/archive.svg);}
 #ilb{background-color:black  ;background-image:url(spotifyRound.svg);}
 #ilc{background-color:#ff5900;background-image:url(soundcloud.svg);}
 #ild{background-color:#38de56;background-image:url(whatsapp.svg);}
 #ile{background-color:white  ;background-image:url(funkwhale.svg);}
 #ilf{background-color:white  ;background-image:url(hearthis.svg);}
 #ilg{background-color:white  ;background-image:url(../GrnPctVid/patreon.svg);}
 #ilh{background-color:#001935;background-image:url(../GrnPctVid/tumblr.svg);}
 #ili{background-color:#4175c9;background-image:url(../GrnPctVid/usalif.svg);}
 #ilj{background-color:white  ;background-image:url(../GrnPctVid/mastodont.svg);}
 #ilk{background-color:#6e82ca;background-image:url(../GrnPictur/discord.svg);}
 #ill{background-color:white  ;background-image:url(../GrnPictur/buymeacoffee.svg);}
/*------------------------------------------------------------------*/
 #ira{background-color:white  ;background-image:url(voxworker.svg);}
 #irb{background-color:white  ;background-image:url(bandcamp.svg);}
 #irc{background-color:#333333;background-image:url(discogs.svg);}
 #ird{background-color:white  ;background-image:url(telegram.svg);}
 #ire{background-color:white  ;background-image:url(dupdub.svg);}
